@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;500;700;800&display=swap');

body {
    background: linear-gradient(to bottom right, #dbe4f1 20%, #8ea0d5 100%);
    font-family: 'Be Vietnam Pro', sans-serif;
}

div.container {
    width: 300px;
    height: 670px;
    border-radius: 30px;
    background: linear-gradient(to bottom, white, #d1d6ee);
}

.circle-track {
    width: 250px;
    height: 250px;
    background: conic-gradient(from -45deg at center, #5bdafb 0%, #f3a297 15%, #f3a297 40%, #ada7e6 60%, #8285ef 80%, #5bdafb 100%);
    box-shadow: 0 20px 25px 0px rgba(0, 0, 0, 0.15);
}

.circle-progress {
    width: 250px;
    height: 250px;
    background: conic-gradient(from -45deg at center, rgba(255, 255, 255, 0.5) 0%, transparent 100%);

}

.circle-inner {
    width: 210px;
    height: 210px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}

.pointer {
    transform: rotate(225deg) translateX(90px);
}

.power-bg {
    border-radius: 50px;
    background: linear-gradient(to top right, #9bace4, #fff);
}

.app-color-black {
    color: #0E171D;
}

.app-color-purple {
    color: #ADAAE7;
}

.app-color-blue {
    color: #7F80E5;
}

.app-color-red {
    color: #E1B5C6;
}

.app-font-sm {
    font-size: 8px;
    font-weight: 800;
}

.app-font-md {
    font-size: 10px;
    font-weight: 800;
}

.app-bg-color-black {
    background-color: #0E171D;
}

.app-shadow {
    box-shadow: 0 15px 25px 0px rgb(0 0 0 / 10%);
}

.toggle {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 1em;
}

.toggle__checkbox {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0.00001;
}

.toggle__visual {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 0.1em solid #0cf;
    border-radius: 0.5em;
    background-color: #0cf;
}

.toggle__visual:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.125s linear 0s;
}

.toggle__checkbox:checked+.toggle__visual:before {
    transform: translateX(1.5em);
}

.button {
    display: inline-block;
    /* position: absolute; */
    left: 45%;
    bottom: 10%;
    justify-content: center;
    /* padding-left: 30%; */
    width: 50px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    /* padding: 0; */
}

#toggle {
    display: none;
}

.slider {
    display: block;
    font-size: 10px;
    position: absolute;
}

.slider::after {
    content: 'OFF';
    width: 25px;
    height: 25px;
    background-color: #e03c3c;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color .25s, transform .25s ease-in;
}

#toggle:checked+.slider::after {
    content: 'ON';
    background-color: #05ae3e;
    transform: translateX(25px) rotate(360deg);
}

#button_one{
    
    background-color: rgba(255, 255, 255, 0.25);
    /* background-color: rgba(21, 3, 3, 0.25);    */
}

#button_two{
    background-color: rgba(255, 255, 255, 0.25);
    /* background-color: rgba(21, 3, 3, 0.25); */

}


